[tool.poetry]
name = "pyle38"
version = "0.8.0"
description = "Async python client for Tile38"
authors = ["Benjamin Ramser <ahoi@iwpnd.pw>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iwpnd/pyle38"
repository = "https://github.com/iwpnd/pyle38"
keywords = ["tile38", "async", "client"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Topic :: Database :: Front-Ends",
    "Topic :: Scientific/Engineering :: GIS",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: MIT License",
    "Typing :: Typed"]
include = ["LICENSE"]

[tool.poetry.dependencies]
python = "^3.10"
pydantic = "^1.8.1"
redis = "^4.3.4"

[tool.poetry.group.dev.dependencies]
types-redis = "^4.3.21.5"
pytest = "^7.2"
pre-commit = "^2.20.0"
black = "^22.10"
pytest-asyncio = "^0.20.2"
gitlint = "^0.18.0"
poethepoet = "^0.16.4"
isort = "^5.10.1"
pytest-cov = "^4.0.0"
mypy = "^0.991"
python-semantic-release = "^7.32.1"
ruff = "^0.0.146"

[tool.semantic_release]
version_variable = [
    "pyle38/__init__.py:__version__",
    "pyproject.toml:version"
]
commit_subject = "ci: release v{version}"
branch = "main"
upload_to_pypi = true
upload_to_release = true
build_command = "pip install poetry && poetry build"
version_source = "tag"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[mypy]
python_version = 3.8
ignore_missing_imports = true

[tool.poe.tasks]
test       = "poetry run pytest -vv --asyncio-mode=auto -s tests/"
test-cov   = "poetry run pytest -vv --asyncio-mode=auto -s --cov=pyle38 tests/"
mypy       = "poetry run mypy --ignore-missing-imports --config-file pyproject.toml"
lint       = "ruff . --ignore E501 --per-file-ignores __init__.py:F401"
up         = "docker-compose up"
down       = "docker-compose down"
publish    = "poetry run semantic-release publish"
