[tool.poetry]
name = "pyle38"
version = "0.4.0"
description = "Async python client for Tile38"
authors = ["Benjamin Ramser <ahoi@iwpnd.pw>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/iwpnd/pyle38"
repository = "https://github.com/iwpnd/pyle38"
keywords = ["tile38", "async", "client"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Topic :: Database :: Front-Ends",
    "Topic :: Scientific/Engineering :: GIS",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: MIT License",
    "Typing :: Typed"]
include = ["LICENSE"]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.8.1"
aioredis = "^2.0.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pre-commit = "^2.15.0"
black = "^21.8b0"
pytest-asyncio = "^0.15.1"
gitlint = "^0.15.1"
poethepoet = "^0.10.0"
isort = "^5.9.3"
pytest-cov = "^2.12.1"
flake8 = "^3.9.2"
mypy = "^0.910"
python-semantic-release = "^7.19.2"

[tool.semantic_release]
version_variable = [
    "pyle38/__init__.py:__version__",
    "pyproject.toml:version"
]
commit_subject = "ci: release v{version}"
branch = "main"
upload_to_pypi = true
upload_to_release = true
build_command = "pip install poetry && poetry build"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[mypy]
python_version = 3.8
ignore_missing_imports = true

[tool.poe.tasks]
test       = "poetry run pytest -vv -s tests/"
test-cov   = "poetry run pytest -vv -s --cov=pyle38 tests/"
mypy       = "poetry run mypy --ignore-missing-imports --config-file pyproject.toml"
lint       = "flake8 ."
up         = "docker-compose up"
down       = "docker-compose down"
publish    = "poetry run semantic-release publish"
